{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>일기 목록 페이지</title>
    <link rel="stylesheet" href="{% static 'css/board.css' %}">

</head>

<body>
    <header class="header">
        <a href="#" class="logo">
            <h1>SHARE DIARY</h1>
        </a>
    </header>

    <div class="container">
        <h1>2020년 9월 1일 일기</h1>
        <div class="link">
            <a href="#" class="write"> 일기 쓰기</a>
        </div>
    </div>
    <div class="wrapper">
        <div class="card">
            <img src="{% static 'images/cover.jpg' %}">
            <h4 class="card-title"> 글 제목 </h4>
            <h6 class="card-text"> 글쓴이 </h6>
            <hr>
            <p class="card-text">글 미리보기-정사각형</p>
        </div>

        <div class="card">
            <img src="{% static 'images/TTEST.jpg' %}">
            <h4 class="card-title"> 글 제목 </h4>
            <h6 class="card-text"> 글쓴이 </h6>
            <hr>
            <p class="card-text">글 미리보기-가로가 긴거</p>
        </div>

        <div class="card">
            <img src="{% static 'images/TTTEST.jpg' %}">
            <h4 class="card-title"> 글 제목 </h4>
            <h6 class="card-text"> 글쓴이 </h6>
            <hr>
            <p class="card-text">글 미리보기-새로가 긴거</p>
        </div>

        <div class="card">
            <img src="{% static 'images/TTTEST.jpg' %}">
            <h4 class="card-title"> 글 제목 </h4>
            <h6 class="card-text"> 글쓴이 </h6>
            <hr>
            <p class="card-text">글 미리보기</p>
        </div>
        <div class="card">
            <img src="{% static 'images/cover.jpg' %}">
            <h4 class="card-title"> 글 제목 </h4>
            <h6 class="card-text"> 글쓴이 </h6>
            <hr>
            <p class="card-text">글 미리보기-정사각형</p>
        </div>

    </div>

</body>


</html>