<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" width="15%">#</th>
                <th scope="col">제목</th>
                <th scope="col" width="25%">글쓴이</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts.all %}
            <tr>
                <td>####</td>
                <td>
                    <a href="{% url 'detail' post.pk %}">
                        {{ post.title|truncatechars:20 }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>